asgiref==3.11.1
boto3==1.43.2
botocore==1.43.2
certifi==2026.4.22
charset-normalizer==3.4.7
dj-database-url==3.1.2
Django==6.0.4
django-environ==0.13.0
django-storages==1.14.6
django-widget-tweaks==1.5.1
gunicorn==25.3.0
idna==3.13
jmespath==1.1.0
packaging==26.2
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
requests==2.33.1
s3transfer==0.17.0
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
