{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Writer Dashboard{% endblock title %}
{% block content %}
    <div class="container mt-16 mx-auto rounded-2xl p-12 bg-amber-300">
        <div class="flex flex-col justify-center items-center">
            <h1 class="text-2xl font-semibold text-center"><i
                    class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;Welcome, {{ user.first_name }} {{ user.last_name }}
            </h1>
        </div>
    </div>
    <br><br>
    <div class="container mt-16 mx-auto rounded-2xl p-12 bg-amber-300">
        <div class="flex flex-col justify-center items-center">
            {% if subscription_plan %}
                <h1 class="text-2xl font-semibold text-center"> Subscription status : {{ subscription_plan }}
            {% else %}
                <div class="flex flex-col justify-center items-center">
                    <h1 class="text-2xl font-semibold text-center"> Subscription status : None</h1>
                    <br>
                    <div>
                        <a class="text-center text-xl text-white bg-sky-700 cursor-pointer px-6 py-3 rounded-lg"
                           href="{% url 'client:subscription-plans' %}">Subscribe</a>
                    </div>
                </div>
            {% endif %}
            </h1>
        </div>
    </div>

{% endblock content %}