{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Create Subscription{% endblock title %}
{% block content %}
    <div class="container mt-16 mx-auto rounded-2xl p-12 bg-amber-300 max-w-4xl">
        <div class="flex flex-col items-center space-y-6">
            <h1 class="text-2xl font-semibold text-center"><i class="fa-solid fa-thumbs-up"></i> {{ subscription.subscriber_name }} subscription activated!
            </h1>
            <p>Congratulations to your subscription.</p>
            <p>Now, you can explore our articles that are associated with this plan.</p>
            <a class="px-6 py-4 text-white rounded-xl text-center bg-sky-700" href="{% url 'client:browse-articles' %}">Browse
                articles</a>
        </div>
    </div>
{% endblock content %}